{% extends 'index.html' %}

{% block title %}Login - QuizLabs{% endblock title %}p

{% block content %}          
          
        <h1 class="display-4 text-center my-5">Login</h1>
          <div class="container">
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                  <div>
                    {% for message in messages %}
                    <h5 class="text-danger">{{message}}</h5>
                    {% endfor %}
                  </div>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Username</label>
                          <input type="username" name="username"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Remember Me </label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                        <p>Not a User?<a href="{% url 'register' %}">Register</a></p>
                      </form>
                </div>
                <div class="col">
                </div>
              </div>
            </div>
{% endblock content %}

            
            